body {
  /*font: 14px "Roboto", Futura, sans-serif;*/
  /*background-color: rgb(247, 244, 244);*/
  font-family: 'Poppins', sans-serif
}

.mainContent {
  margin: auto;
  height: 3000px;
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  padding-top: 20px;
  font-family: 'Poppins', sans-serif
  /*font: 14px "Roboto", Futura, sans-serif;*/
}

.mainContent > div {
  margin: 10px 0;
}

textarea:focus, input:focus {
  border-bottom: 1px solid #d2cfcf;
  box-shadow: none!important;
}
/* https://stackoverflow.com/questions/44387758/remove-underline-border-materialize-input-text */

/* Manual autocomplete: import inside autocompleteManual.js */


.row {
  z-index: 10 !important;
}
